/to_be_deleted_in_the_end

.DS_Store
.venv/
2-ML/.ipynb_checkpoints/*
2-ML/Exercises/.ipynb_checkpoints
2-ML/Exercises/cache
2-ML/Auxiliary_notebook/
2-ML/.ipynb_checkpoints
2-ML/cache
2-ML/Old_and_deprecate_notebooks
2-ML/.idea/
